<%- include("partials/header.ejs") %>

<!-- Shooting stars -->
<span class="star"></span>
<span class="star"></span>
<span class="star"></span>
<span class="star"></span>
<span class="star"></span>

<main>
  <div class="home-hero">
    <h1>STAR WARS</h1>
    <h2>DUELS</h2>
    <form action="/fight" method="GET">
      <input type="submit" value="ENTER THE ARENA">
    </form>
  </div>
</main>

<%- include('partials/footer.ejs') %>